@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* CONFIG */

*
{
    margin: 0;
    padding: 0;

    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: rgb(231, 231, 231);
}

html
{
    --bg:#363530;
    --calc:#3E3E3D;
    --btn:#505050;
    --disp:#757573;
    --sim:#4A48DB;

    font-size: 62.5%;
}

/* BODY */

body
{
    background-color: var(--bg);
    padding: 20px;
}

/* CALCULADORA */

.calculadora
{
    background-color: var(--calc);
    margin: 80px auto;
    padding: 20px;
    border-radius: 10px 10px 4px 4px;
    border: 1px solid rgb(71, 71, 71);
    box-shadow: 4px 4px 12px rgb(49, 49, 49);
    max-width: 400px;
}

#display
{
    display: grid;
    background-color: var(--disp);
    width: 100%;
    height: 60px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-size: 4rem;

}

/* BUTTONS */

.btns
{
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding: 20px;
    justify-content: center;
    gap: 10px;
}

.grid-num
{
  grid-column: 1/2;   
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  height: fit-content;
  align-items: center;
  justify-content: center;
  flex: auto;
  grid-area: 1/1;
}

.grid-sim
{
    grid-template-columns: 2/3;
}

.grid-sim div 
{
    margin-bottom: 10px;
}

.buttons
{
   display: flex;
   gap: 10px;
   grid-column: 1/3;
}

.btns div > div
{
    display: block;
    padding: .5rem 2rem;
    border-radius: 4px;   
    font-size: clamp( 2em,1em + 3vw, 3.2vw );  
    text-align: center; 
    box-shadow: 2px 2px 6px rgb(34, 34, 34);
    cursor: pointer;
    font-weight: 500;
    width: 3vw;

}

#send,#del
{
    background-color: var(--btn);
    box-shadow: 2px 2px 6px rgb(34, 34, 34);
    border:none;
    font-size: clamp(1.1em,.5em + 1.8vw, 1.8vw) ;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 1.6rem;
    border-radius: 4px;   
    cursor: pointer;
    text-align: center;  
    max-width: 100%;
    
}

#send
{
    width: 76%;
}

#del
{
    width: 24%;
}

.num
{
    background-color: var(--btn); 
    transition: .1s;  
    text-align: center;
}


.num:hover,#send:hover,#del:hover
{
    background-color: var(--sim);  
    transition: .2s;
}

.num:active,#send:active,#del:active
{
    background-color: var(--btn);  
}


.sim,#neg,#virg
{

    background-color: var(--sim);
    transition: .2s;
    
}

.sim:active,#neg:active,#virg:active
{
    background-color: var(--num);
}

@media (max-width:750px)
{
    .btns div > div 
    {
        padding: 1rem 3rem;
    }
}

@media (max-width:550px)
{
    body,.calculadora
    {
        padding: 10px;
    }

    .btns 
    {
        padding: 10px;
    }

    .btns div > div 
    {
        padding: 1rem 3rem;
    }
    
    #neg 
    {
        width: fit-content;
    }

    #send,#del 
    {
        padding: 1rem;
    }
}


@media (max-width:390px)
{
    .btns div > div 
    {
        padding: .5rem 2.5rem;
    }
}

@media (max-width:340px)
{
    .btns div > div 
    {
        padding: .5rem 2rem;
    }
}

@media (max-width:300px)
{
    .btns div > div 
    {
        padding: .5rem 1.5rem;
    }
}

@media (max-width:250px)
{

    .btns div > div 
    {
        padding: .5rem 1.2rem;
    }
}
